@import 'tailwindcss';

:root {
	--background: #ffffff;
	--foreground: #171717;
	--primary: #7700d3;
	--primary-foreground: #35005d;
	--muted: #00a891;
	--muted-foreground: #007868;
	--border: #e2e8f0;
	--radius: 12px;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-border: var(--border);
	--radius-lg: var(--radius);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: Arial, Helvetica, sans-serif;
}
